.appliances-icon {
  width: 64px;
  height: 64px;
}

.arrow-icon {
  width: 64px;
  height: 64px;
}

.basket-icon {
  width: 64px;
  height: 64px;
}

.cart-icon {
  width: 64px;
  height: 64px;
}

.category-icon {
  width: 64px;
  height: 64px;
}

.compare-icon {
  width: 64px;
  height: 64px;
}

.delivery-icon {
  width: 64px;
  height: 64px;
}

.favarites-icon {
  width: 64px;
  height: 64px;
}

.favorites-fill-icon {
  width: 64px;
  height: 64px;
}

.favorites-icon {
  width: 64px;
  height: 64px;
}

.for-kids-icon {
  width: 64px;
  height: 64px;
}

.information-icon {
  width: 64px;
  height: 64px;
}

.pay-icon {
  width: 64px;
  height: 64px;
}

.promotions-icon {
  width: 64px;
  height: 64px;
}

.reviews-icon {
  width: 64px;
  height: 64px;
}

.search-icon {
  width: 64px;
  height: 64px;
}

.security-icon {
  width: 64px;
  height: 64px;
}

.service-icon {
  width: 64px;
  height: 64px;
}

.user-icon {
  width: 64px;
  height: 64px;
}

